<html>
<head>
</head>
<body>

        <label>Nombre:</label><div>{{ mensaje.nombre }}</div>
        <labe>Empresa:</labe><div>{{ mensaje.empresa }}</div>
        <label>Telefono:</label><div>{{ mensaje.telefono }}</div>
        <label>Producto</label><div>{{ mensaje.producto }}</div>
        <label>Asunto:</label><div>{{ mensaje.asunto }}</div>
        <label>Cuerpo:</label><div>{{ mensaje.cuerpo }}</div>


</body>
</html>